#container-de-descricao>ol {
    padding: 15px 0px;
    list-style-position: inside;
}

.container-do-search input {
    margin-top: 20px;
    height: 100px;
    border: 0;
    border-bottom: 1px solid black;
    outline: 0;
}