html, body {
    margin: 0;
    top: 0;
    box-sizing: border-box;
    background-color: #7159c1;

}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 20vh 70vh 10vh;
    grid-template-areas: "h h" /*se eu colocasse "h ." eu estaria indicando que queria o conteúdo h na primeira coluna e a segunda coluna vazia*/
                         "m a"
                         "f f";

        /* gap: 20px 10px; aqui é um atalho pra row gap e colum gap */
        /* row-gap: 20px;
        column-gap: 10px; */

}

header {
    background-color: yellow;
    /* grid-column-start: 1;
    grid-column-end: 3;
    ou poderia escrever
    grid-column: 1/3; */

    grid-area: h;
    
}

main {
    background-color: blue;
    /* grid-column-start: 1;
    grid-column-end: 2;
    ou poderia escrever
    grid-column: 1/2; */

    grid-area: m;
}

aside {
    background-color: green;
    /* grid-column-start: 2;
    grid-column-end: 3;
    ou poderia escrever
    grid-column: 2/3; */

    grid-area: a;

}

footer {
    background-color: red;
    /* grid-column-start: 1;
    grid-column-end: 3;
    ou poderia escrever
    grid-column: 1/3; */
    grid-area: f;
}