html, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    background: black;
    width: 100vw;
    height: 100vh;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    gap: 5px;

    justify-items: center;
    align-items: center;
}

.container > div{
    background: #7159c1;
    width: 50%;
    height: 50%;
}

.verde{ /*Perceba que não muda nada pq acima todas as div já tem altura e largura definida além da cor*/
    background: green;
    width: 100%;
    height: 100%;
}