.my-element :first-child {
    grid-row: 1/3;
    grid-column: 1/4;
  }
  
  .my-element {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    max-width: 500px;
  }
  
  .my-element div{
      border: 1px solid red;
  }