/*CONFIGURAÇÕES GERAIS*/
* {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin-bottom: 100px;
}

h1{
    text-align: center;
    margin-top:  100px;
}

li {
    list-style: none;
}

a {
    color: white;
    border: 1px solid red;
    text-decoration: none;
}

img{
    
    display: block;
    max-width: 100%;
}

/*Cabeçalho*/

header {
    background-color: #1d1e20;
    border: 2px solid red;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

.menu{
    display: flex;

}

.menu li {
    margin-left: 10px;
}

.menu li a{
    display: block;
    padding: 10px;
}

/*CSS Flexbox*/
.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;/*largura máxima do flex*/
    margin: 0 auto; /*Centraliza*/
}

.flex > div{
    flex: 1 1 200px;/*o 200 px indica que quando a imagem tiver 200px ela quebra
    OBS: se tirar o 200 e colocar 0 os itens ficam pequenos*/ 
    margin: 16px;

}
/*CSS GRID*/
.grid1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;/*poderia escrever (3, 1fr) seria equivalente a 3 vezes 1 fr*/
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
    gap: 20px;
}

.grid1 > div:nth-child(n+4){/*a partir da div 4*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;/*alinha o texto ao centro*/
}

.grid1 > div.anuncio{
    border: 1px solid red;
    grid-column: 1;
    grid-row: 2/5;
    display: block;
}
/*continuar do minuto 20:40 do vídeo sobre gri e flex da Origamid*/