#exemplo {
    width:200px;
    height: 150px;
    margin: 20px;
    border: 2px solid black;
}

.verde {
    background-color: #00FF00;
}

.vermelho {
    background-color: #FF0000;
}

.azul {
    background-color: blue;
}