* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(231, 225, 225);

}

/* Cabeçalho*/
header {

    display: flex;
    justify-content: space-between;

}

.logo {

    color: midnightblue;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    padding: 10px;
}

.nav {
    display: flex;
    flex-direction: row;
    font-size: large;
    color: midnightblue;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;

}

.nav a {
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
}

/* Menu*/

.container1 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

 .container1 img {
    position: absolute;
    width: 100%;
    opacity: 0.5;
}

#texto {
    position: absolute;
    font-size: 80px;
    left: 350px;
    top: 130px;
    color: rgb(10, 10, 71);

}

#texto2 {
    position: absolute;
    font-size: 70px;
    left: 70px;
    top: 230px;
    color: rgb(10, 10, 71);

}

#texto3 {
    position: absolute;
    font-size: 80px;
    left: 350px;
    top: 310px;
    color: rgb(10, 10, 71);

}

/*SOBRE*/

.about-content {
    margin-top: 0;
    height: 100vh;
}

.about-content h1 {
    display: block;
    text-align: center;
    font-size: 50px;
    color: rgb(10, 10, 71);
}

.about-content p {
    border-style: groove;
    border-color: rgb(10, 10, 71);
    margin-right: 20px;
    margin-left: 20px;
    font-size: 30px;
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 50px;
    height: 300px;
    text-align: center;
}

/* Projetos */
.project-content {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(241, 235, 223);


}

.project-content h1 {
    font-size: 50px;
    left: 350px;
    top: 130px;
    background-color: rgb(10, 10, 71);
    color: white;
}
.project1{
    position: absolute;
    background-color: rgb(241, 235, 223);
    width: 400px;
    height: 400px;
    top: 150px;
    left: 100px;
}
.project2{
    position: absolute;
    background-color: rgb(241, 235, 223);
    width: 400px;
    height: 400px;
    top: 150px;
    right: 100px;
}

.project-img1{
    /* position: absolute; */
    width: 200px;
    margin-left: 89px;
}
.project-img2{
    /* position: absolute; */
    width: 100%;
}

/* Rodapé */
footer {
    display: flex;
    background-color: rgb(10, 10, 71);
    color: white;
    justify-content: center;
}

footer div {
    padding: 30px;
    font-size: 30px;
    font-weight: bold;
}

.linkedin img {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 2000px;
    left: 530px;
}

.github img {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 2000px;
    left: 780px;
}